body {
    background-color: #222222; 
    color: #ffffff;
    text-align: justify;
    font-family: 'Montserrat', Helvetica, sans-serif;
    margin: 15px; 
}

main{
    margin: inherit;
}

#miID {
    text-align: center;
    color: #bbcde5;
    font-family: 'Cinzel Decorative', Times, serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(28, 93, 153, 0.7);
    margin-bottom: 10px;
}

.Enlaces{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    
}

.Enlaces a{
    text-decoration: none;
    color: #cda45e;
    font-size: 1.2rem;
    padding: 5px 15px;
    /*border-bottom: 2px solid transparent;*/
    transition: all 0.3s ease;
}

.Enlaces a:hover{
    color: #ffffff;
    border-bottom: 2px solid #1c5d99;
    text-shadow: 0 0 8px #1c5d99; 
}
#Sinopsis {
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-top: 1px solid #cda45e;
    border-bottom: 1px solid #cda45e;
}

#Sinopsis h2 {
    color: #cda45e;
    font-size: 2.5rem;
}

#Sinopsis h3{
    font-size: 1.8rem;
    color: #cda45e;
}
#Sinopsis p{
    font-size: 1.1rem;
    line-height: 1.8;
    color: #e0e0e0
}

.ficha-personaje{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: black;
    border: 1px solid #cda45e;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);;
}

.imagen-personaje img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #cda45e;
   
}

.info-personaje{
    flex-grow: 1;
}

.info-personaje h2{
    margin-top: 0;
    color:#cda45e;
}

.datos-personaje{
    list-style: none;
    padding-left: 0;
    margin: 15px 0;
    font-size: 0.9rem;
}

.datos-personaje li {
    margin-bottom: 5px;
    font-size: 18px;
}

.Comunidad {
    background-color: #1c5d99;
    display: block;
    width: 50%;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.formulario-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.formulario-flex input{
    padding: 8px;
    width: 80%;
    border-radius: 5px;
    border: none;
}

.formulario-flex button{
    padding: 10px 30px;
    cursor: pointer;
    background-color: #2222;
    color: #cda45e;
    border: 1px solid #cda45e;
    font-weight: bold;
}